* {
  text-decoration: none;
  list-style: none;
}
body {
  background: #ece2da;
}
.header {
  width: 100%;
  background-color: #fff;
  text-align: center;
  display: block;
}
#logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 2rem;
  margin-left: 3rem;
}
main .elementor-widget-heading h2.elementor-heading-title {
  font-family: Syne;
  text-align: center;
}
#menu li:last-child a {
  color: #fff;
}
#menu li:last-child {
  background-color: #dc9f96;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80px;
  margin: 0 auto;
  font-size: 16px;
}
#menu li:last-child:hover {
  background-color: #c02e44;
  cursor: pointer;
}

#menu ul li a {
  color: #000000;
  text-decoration: none;
  height: 80px;
  line-height: 80px;
  font-family: roboto;
  padding: 0 20px;
}
#menu ul li:hover{
  color: #c02e44 !important;
}
/* Establece el orden de los elementos */
#menu-menuprincipal li:nth-child(1) {
  order: 2; /* Elemento "Nous rencontrer" */
}

#menu-menuprincipal li:nth-child(2) {
  order: 1; /* Elemento "Admin" */
}

#menu-menuprincipal li:nth-child(3) {
  order: 3; /* Elemento "Commander" */
}
/*NOUSRECONTRER--------*/
textarea {
  width: 100%;
  height: 237px;
  flex-shrink: 0;
  border: none;
  margin-top: 1rem;
}
label{
  color: #000;
  font-family: Syne;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center !important;
}
/*----FORM-COMMANDER------*/
input[type="submit"] {
  display: flex;
  width: 198px;
  height: 55px;
  margin: 0 auto;
  color: #fff;
  padding: 9px 57px 9px 56px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: none;
  flex-shrink: 0;
  background: #e0b9b4;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
input[type="submit"]:hover{
  background-color: #c02e44 !important;
  cursor: pointer;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  height: 71px;
  flex-shrink: 0;
  border: none;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.quantity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  border: none;
}

.qty-commande {
  flex-basis: calc(25% - 10px);
  margin-bottom: 10px;
}

input[type="number"] {
  box-sizing: border-box;
  padding: 8px;
  border: none;
  background-color: #ffffff;
  width: 39px;
  height: 56px;
  text-align: center;
}
.linea-1 {
  background-color: #fff;
  height: 1px;
  width: 100%;
  margin-bottom: 2rem;
}

.commader h3 {
  color: #fff;
  font-family: Syne;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}
.text-label  {
  color: #ffffff;
  font-family: Syne;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 2rem;
}
footer {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.copy p {
  padding-top: 40px;
}

@media screen and (min-width: 1024px) {
  #logo {
    margin-left: 37px;
    margin-top: 30px;
    width: 201px;
    height: 19px;
  }
  .header {
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #menu {
    display: flex;
    align-items: center;
  }
  #menu ul {
    display: flex;
  }
  #menu ul li a {
    color: #000000;
    text-decoration: none;
    height: 80px;
    line-height: 80px;
    font-family: roboto;
    padding: 0 20px;
  }
  #menu li:last-child {
    background-color: #dc9f96;
    width: 236px;
    font-size: 16px;
  }
  textarea {
    width: 383px;
height: 237px;
flex-shrink: 0;
    border: none;
    margin-top: 1rem;
  }
  .quantity {
    width: 860px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    border: none;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  .qty-commande:nth-child(1) input[type="number"] {
    margin-left: -2rem;
  }
  .qty-commande:nth-child(3) input[type="number"] {
    margin-left: 2rem;
  }
  .qty-commande:nth-child(4) input[type="number"] {
    margin-left: 5rem;
  }
  .contact-commader {
    display: flex;
    flex-direction: row; /* Disposición en fila */
    justify-content: space-between; /* Espacio entre elementos */
  }
  input[type="text"],
  input[type="email"] {
    width: 383px;
    height: 71px;
    flex-shrink: 0;
    border: none;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .linea-2 {
    width: 1px;
    height: 447px;
    background-color: #fff;
  }
  input[type="submit"] {
    display: flex;
    width: 198px;
    height: 55px;
    margin: 0 auto;
    color: #fff;
    padding: 9px 57px 9px 56px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: none;
    flex-shrink: 0;
    background: #e0b9b4;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
  }
}
